services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "80:3001"
    networks:
      - internal_network
    environment:
      - PORT=3001
      - JWT_SECRET_KEY=estaE3sKey
    
  auth-service:
    build: ./auth-service
    networks:
      - internal_network
    environment:
      - PORT=3005
      - JWT_SECRET_KEY=estaE3sKey

  user-service:
    build: ./user-service
    depends_on:
      user-service-db:
        condition: service_healthy
    networks:
      - internal_network
    environment:
      - PORT=3002
      - DATABASE_HOST=user-service-db
      - DATABASE_PORT=5432
      - DATABASE_USER=postgres
      - DATABASE_PASSWORD=supersecret
      - DATABASE_NAME=postgres

  user-service-db:
    image: postgres
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=supersecret
    volumes:
      - pgdata1:/var/lib/postgresql/data
    ports:
      - "5550:5432"
    networks:
      - internal_network
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "myuser"]
      interval: 10s
      retries: 5
      start_period: 10s

  product-service:
    build: ./product-service
    depends_on:
      product-service-db:
        condition: service_healthy
    networks:
      - internal_network
    environment:
      - PORT=3008
      - DATABASE_HOST=product-service-db
      - DATABASE_PORT=5432
      - DATABASE_USER=postgres
      - DATABASE_PASSWORD=supersecret
      - DATABASE_NAME=postgres

  product-service-db:
    image: postgres
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=supersecret
    volumes:
      - pgdata2:/var/lib/postgresql/data
    ports:
      - "5552:5432"
    networks:
      - internal_network
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "myuser"]
      interval: 10s
      retries: 5
      start_period: 10s

  order-service:
    build: ./order-service
    depends_on:
      order-service-db:
        condition: service_healthy
    networks:
      - internal_network
    environment:
      - PORT=3006
      - DATABASE_HOST=order-service-db
      - DATABASE_PORT=5432
      - DATABASE_USER=postgres
      - DATABASE_PASSWORD=supersecret
      - DATABASE_NAME=postgres

  order-service-db:
    image: postgres
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=supersecret
    volumes:
      - pgdata3:/var/lib/postgresql/data
    ports:
      - "5553:5432"
    networks:
      - internal_network
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "myuser"]
      interval: 10s
      retries: 5
      start_period: 10s

networks:
  internal_network:
