services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "3001:3001"
    networks:
      - internal_network
    
  auth-service:
    build: ./auth-service
    ports:
      - "3005:3005"
    networks:
      - internal_network

  user-service:
    build: ./user-service
    ports:
      - "3002:3002"
    depends_on:
      - user-service-db
    networks:
      - internal_network
    environment:
      - DATABASE_HOST=user-service-db
      - DATABASE_PORT=5432

  user-service-db:
    image: postgres
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=supersecret
    volumes:
      - C:/ProgramData/PostgreSQL/microservices/user-service:/var/lib/postgresql/data
    ports:
      - "5550:5432"
    networks:
      - internal_network

  product-service:
    build: ./product-service
    ports:
      - 3008
    depends_on:
      - product-service-db
    networks:
      - internal_network
    environment:
      - DATABASE_HOST=product-service-db
      - DATABASE_PORT=5432

  product-service-db:
    image: postgres
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=supersecret
    volumes:
      - C:/ProgramData/PostgreSQL/microservices/product-service:/var/lib/postgresql/data
    ports:
      - "5552:5432"
    networks:
      - internal_network

  order-service:
    build: ./order-service
    ports:
      - 3006
    depends_on:
      - order-service-db
    networks:
      - internal_network
    environment:
      - DATABASE_HOST=order-service-db
      - DATABASE_PORT=5432

  order-service-db:
    image: postgres
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=supersecret
    volumes:
      - C:/ProgramData/PostgreSQL/microservices/order-service:/var/lib/postgresql/data
    ports:
      - "5553:5432"
    networks:
      - internal_network

networks:
  internal_network:
